.lead-form {
  width: 300px;
  height: 300px;
  position:absolute;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -150px;
  background-color: #EBEBEB;  
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}     
  &-item {
    margin-top: auto;    
    margin-bottom: 15px;
  }
  &-label {
    position: relative;
    top: 1px;
    padding: 4px 5px;    
    box-sizing: border-box;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.09);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background: #1c87c9;
    color: #fff;
  }
  &-input {
    height: 29px;
    width: 70%;
    padding: 0;
    padding-left: 15px !important;
    font-size: 16px;
    font-weight: 500;
    border: none;
    box-sizing: border-box;
    outline: none;
  }
  &-phoneInput{    
    position: relative;
    left: 15px;
    width: 79%;
    margin-bottom: -5px !important;
  }
  &-button{
    background-color: #1c87c9;
    color: white;    
    padding: 5px 10px;
    border:1px solid #1c87c9;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
    &:hover{
      box-shadow: 0 7px 10px 0 rgba(0,0,0,0.2);
      background-color: #10ba3b;
    }       
    
  }
}
.title{
    padding-top: 10px;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}
.left{
  margin-left: 16px;
}



